.git-crypt
.gitignore
helmfile/
.dockerignore
docker-compose.yml
docker-compose.*
Dockerfile
Dockerfile.*
docs/

README.md
node_modules
dist
!dist/cypress

*.tar.gz
*.tgz
*.swp
*.log
*.zat

**/.gradle
**/logs
**/node_modules
**/out

node_modules/.cache

**/.cache
**/.idea/copyright/
**/.idea/libraries/
**/.idea/scopes/
**/.idea/shelf/
**/.idea/*.xml
**/.idea/runConfigurations/
**/.idea/dictionaries


/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.cache

**/gocd-test-artifacts/**
