audit = false
fund = false
always-auth = true
strict-ssl = false
package-lock=true
lockfile-version=2
email = devs@autotrader.co.uk
@rtds:registry = https://autotrader.jfrog.io/autotrader/api/npm/NPM_GROUP/
registry = https://autotrader.jfrog.io/autotrader/api/npm/NPM_GROUP/
//autotrader.jfrog.io/autotrader/api/npm/NPM_GROUP/:_auth="YXV0b3RyYWRlci1yZWFkLXdyaXRlOkZhaWxpbmctcG9wZ3VuLWNoYXB0ZXItdW5ib2x0LTE="
